* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    background-size: cover;
}

/* Main Grid */

.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 3fr 2fr;
    padding-left: clamp(0.5rem,2.5vw,2rem);
}

/* Searchbar */
.searchbar-container {
    display: flex;
    width: min(25rem, 100vw);
    height: 2rem;
    align-items: center;
    align-self: center;
}

.searchbar {
    width: min(20rem, 80vw);
    border: none;
}

.search-icon {
    color: rgb(134, 134, 134);
}

/* Umbrella status */
.umbrella-status {
    font-size: clamp(1rem, 2.5vw, 2rem);

}

/* Current weather grid container */
/* To remove this the icon after done testing*/
.currweather-container {
    display: grid;
    width: min(25rem, 100vw);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: antiquewhite; */
}

.weather-icon {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    text-align: center;
}

.weather-icon > img {
    width: 100%;
}

.current-temp {
    align-self: end;
}

.current-temp, .feels-like {
    padding: 1rem;
    font-size: clamp(3rem, 10vw, 4.5rem);
}

/* Hourly forecast container */
.hourly-forecast-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: min(100vw, 50rem);
    overflow-x: auto;
    overflow-y: hidden;
}

.hourlytemp-cont {
    display: grid;
    grid-template: 1fr 1fr / 5rem 5rem;
}

.hourly-icon {
    grid-column-start: 1;
    grid-column-end: 3;
}